<footer class="footer">
    <a class="footer__link" href="/albums"><i class="fab fa-creative-commons-sampling alf"></i></a>
    <a class="footer__link" href="/playlists"><i class="fas fa-microphone-alt pf"></i></a>
    <a class="footer__link" href="/"><i class="fas fa-bullseye if"></i></a>
    <a class="footer__link theme light__theme" href="#"><i class="fas fa-adjust"></i></a>
    <a class="footer__link" href="/categories"><i class="fas fa-folder-open fc"></i></a>
</footer>

