<header class="header">
    <i class="fas fa-chevron-left back"></i>
    <p class="header__text">Sitetext</p>
    <i class="fas fa-search"></i>
</header>
<script src="/assets/javaScript/header.js"></script>