<article class="listobject">

</article>

<template class="listobject__template">
        <img class="listobject__img" src="/assets/images/video512x512.png" alt="" srcset="">
        <a class="listobject__info">         
            <h4 class="listobject__heading ligthH">Album Title</h4>
            <p class="listobject__text artist" id="artist">Artist</p>
        </a>
        <p class="listobject__count listobject__text"></p>
</template>
