<% include ../partials/head %>
<% include ../partials/header %>

<main class="base__main">
    <h1 class="base__heading">All Albums</h1>

    <div class="albums__topbar">
        <p class="albums__text">New releases</p>
        <p class="albums__redtext">view all</p>
    </div>
    <!-- her skal der komme et slide galleri -->
    <br><br>
    
    <div class="albums__topbar">
        <p class="albums__text">New releases</p>
        <p class="albums__redtext">view all</p>
    </div>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
</main>

<% include ../partials/footer %>
<% include ../partials/afterFooter %>

<template class="albums-template">
    <% include ../partials/listobject %>
</template>