<% include ../partials/head %>
<% include ../partials/header %>

<main class="base__main categories">
    <h1 class="base__heading">Categories</h1>

    <ul class="categories__Wrapper">


    </ul>

</main>

<div class="categories__footer">
    <% include ../partials/footer %>
</div>
<template class="categories__template">
    <li class="categories__mainlist">
        <a href="#" class="dalink"></a>
        <i class="fas fa-ellipsis-h clicked"></i>
    </li>
            <ul class="sublinks" id="sublinks">
        
            </ul>
</template>

<template class="sublinks__template">
        <li class="subLink">
            <a href="#" class="sublink__a"></a>
        </li>
    
</template>
<script src="/assets/javaScript/theme.js"></script>
<script src="/assets/javaScript/fetch.js"></script>
<% include ../partials/afterFooter %>
