<% include ../partials/head %>
<% include ../partials/header %>
<main class="base__main">
    <div class="hero light__theme index__hero">
        <h1 class="base__heading">Featured</h1>
    </div>
    <section class="index__display">
        <!-- content from template-->
    </section>
</main>
<div class="index__footer theme__footer">
    <% include ../partials/footer %>
</div>
<template class="index__template">
    <figure class="index__display-wrapper">
        <img class="index__display-img" src="" alt="" srcset="">
        <p class="index__display-text"></p>
        <p class="index__display-smtext">soundtrack</p>
    </figure>
</template>
<script src="/assets/javaScript/theme.js"></script>
<script src="/assets/javaScript/index.js"></script>
<% include ../partials/afterFooter %>
