<% include ../partials/head %>
<div class="playlists__header">    
    <% include ../partials/header %>
</div>
<main class="player">
     <div class="player__songimg-container">
        <img class="player__songimg" src="/assets/images/Group 413.svg" alt="" srcset="">
    </div>
    <section><p class="player__songtitle">song title</p><p class="player__songartist">Artist</p></section>
    <div class="player__progressbar"><div class="player__progressfill"></div><div class="player__progressdot"></div></div>
    <div class="player__counters"><div class="player__leftcounter">0:00</div><div class="player__rightcounter">3:37</div></div>
    <audio src="/assets/images/3742-fearless-first-by-kevin-macleod.mp3" class="aplayer"></audio>
    <audio src="/assets/images/3880-hitman-by-kevin-macleod.mp3" class="aplayer"></audio>
    <audio src="/assets/images/4490-the-descent-by-kevin-macleod.mp3" class="aplayer"></audio>
    <div class="player__functions">
        <i class="fas fa-step-backward player__icons"></i>
        <i class="fas fa-backward player__icons"></i>
        <i class="fas fa-caret-right player__playicon"></i>
        <i class="fas fa-forward player__icons"></i>
        <i class="fas fa-step-forward player__icons step"></i>
    </div>
</main>
<!--Music from https://filmmusic.io
"The Descent" by Kevin MacLeod (https://incompetech.com)
"Hitman" by Kevin MacLeod (https://incompetech.com)
"Fearless First" by Kevin MacLeod (https://incompetech.com)
License: CC BY (http://creativecommons.org/licenses/by/4.0/)-->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/assets/javaScript/player.js"></script>
