<% include ../partials/head %>

<div class="playlists__header">    
    <% include ../partials/header %>
</div>

<main class="playlists">
    <div class="playlists__hero">
        <img src="/assets/images/sound-wave.svg" alt="" srcset="">
        <% include ../partials/swiper %>
        <h1 class="playlists__hero_heading">Playlists</h1>

    </div>
    <h2 class="playlists__heading">Playlist name</h2>

    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
    <% include ../partials/listobject %>
</main>

<div class="playlists__footer">
    <% include ../partials/footer %>
</div>

<% include ../partials/afterFooter %>