<% include ../partials/head %>

<div class="playlists__header">    
    <% include ../partials/header %>
</div>

<main class="playlists">
    
</main>

<div class="playlists__footer">
    <% include ../partials/footer %>
</div>
<% include ../partials/afterFooter %>