.albums{
    &__topbar{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    &__redtext{
        color: $focus-text-color;
        padding-right: 5%;
    }
}