.categories{

    &__wrapper{
        
    }

    &__mainlist{
        padding: 0 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $focus-text-color;
        width: 95%;
        height: 3rem;
        color: $header-color-dark;
        margin-top: 5px;
        border-radius: 10px;
    }

    &__subwrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__angleright{
        padding-right: 1.3rem;
        font-size: 1.5rem;
    }

    &__sublist{
        list-style: none;
        padding-left: 1.3rem;
        line-height: 3rem;
    }

    &__footer .fc{
        color: $header-color;
    }
}