.categories{

    &__mainlist{
        padding: 0 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $focus-text-color;
        width: 95%;
        height: 3rem;
        color: $header-color-dark;
        margin-top: 5px;
        border-radius: 10px;
    }

    &__angleright{
        padding-right: 1.3rem;
        font-size: 1.5rem;
    }

    &__sublist{
        list-style: none;
        padding-left: 1.3rem;
        line-height: 3rem;
    }

    &__footer .fc{
        color: $header-color;
    }

    &__footer .fcd{
        color: $header-color-dark;
    }
}
.dalink{
    text-decoration: none;
    color: $header-color-dark;
    justify-self: flex-end;
}

.sublinks{
    display: none;
    list-style: none;
}
.sublink__a{
    margin: 1rem 1.3rem;
    display: block; 
    text-decoration: none;
    color: $header-color;
}

.subshow{
    display: block;
}
