.index__heading{
    padding: 5rem 0 0 1.3rem;
    font-family: $font;
    font-size: 2rem;
    background: $gradient-one;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}