.index__display{

    &-wrapper{
        position: relative;
    }

    &-img{
        width: 95%;
        margin: 1.5rem auto;
    }

    &-text{
        position: absolute;
        color: $header-color-dark;
        bottom: 6rem;
        left: 2.6rem;
        width: 55%;
        font-size: 1.7rem;
    }

    &-smtext{
        position: absolute;
        color: $header-color-dark;
        bottom: 3.5rem;
        left: 2.6rem;
        font-size: 0.9rem;
    }

    
}
.index__footer .if{
    color: $header-color;
}
