$header-color: #341931;
$header-color-dark: #ffffff;
$focus-text-color: #ff1168;
$footer-color: #e54028;
$gradient-one: linear-gradient(to right, #EE0979, #FF6A00);
$dark-background: #341931;

$currentColor: #4D1F48;
$secondaryColor: #FFFFFF;;
$darkPinkColor: #D70060;
$redOrangeColor: #E54028;
$orangeColor: #F18D05;
$yellowColor: #F2BC06;
$lightGreenColor: #5EB11C;
$darkGreenColor: #3A7634;
$lightBlueColor: #0ABEBE;
$mediumBlueColor: #00A1CB;
$darkBlueColor: #115793;
$lightPinkColor: #FF1168;
$blackColor: #111625;

$font: 'Poppins', sans-serif;
